<a href="https://colab.research.google.com/github/Aleksandra2002/obliczenia_naukowe/blob/main/lab2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
#warunki
if 3+4 == 6:
  print ("prawda")
else:
  print ("fałsz")

fałsz

In [7]:
#for
for i in range (1,5):
  print(i)

1
2
3
4

In [19]:
#liczba parzysta
for x in range(101):
   if x%2 == 0:
       print(x)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [22]:
#while
i=1
while i<10:
  print (i)
  i +=1
  if i==6:
    break

1
2
3
4
5

In [44]:
#funkcje
def kombinacja(x):
  a = x+5
  return a
print (kombinacja(10))

15

In [46]:
x=5
def potega(x, n=2):
  a= x**n 
  return a
print(potega(3))

9

In [38]:
#lambda
dodawanie = lambda x,y: x+y
dodawanie (2,3)

5

In [64]:
#listy
lista1 = [1,2,"Ala",True, [2,3,4], "kot"]
lista1[2]
lista1[2:4]
lista1[1:5:2]
(1,2,3)
lista1.sorted()

AttributeError: ignored

In [73]:
#sortowanie malejące
lista2=[2,5,3,4,6,7]
a=lista2.sort(reverse=True)
print(a)

None

In [63]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [111]:
#zad1
#wypełnij listę zawierającą liczby niedodatnie z przedziału [-15,10] podzielne prze 3  i ustawione malejąco
lista11= []
for i in range(-15,11):
  if i<0 and i%3== 0:
    lista11.append(i)
print(lista11)
#ustawienie malejąco
lista11.sort(reverse=True)

[-15, -12, -9, -6, -3]

In [104]:
#zad2
#wypisz liste kwadratów
#wypisz wartosci funkcji f(x)=x/(-x-2)
#wypisz liczby podzielne przez 3
#a
L=[1,3,5,7,8,10]
l2=[]
for el in L:
  d = potega(el)
  l2.append(d)
print(l2)
#b
def wartosc(s):
  wynik= s/(s-2)
  return wynik
l3=[]
for ele in L:
  wrt= wartosc(ele)
  l3.append(wrt)
print(l3)
#c
l4=[]
for elem in L:
  if elem%3==0:
    l4.append(elem)
print(l4)

[1, 9, 25, 49, 64, 100]
[-1.0, 3.0, 1.6666666666666667, 1.4, 1.3333333333333333, 1.25]
[3]

In [122]:
#ZBIORY - nie ma kolejności
K= {4,6,3,54, "pies"}
len(K)
K.remove("pies") # usuwa do zbioru
K.add("kot") # dodaje do zbioru
# lub K.update (zbiór1) --- dokleja zbiór1 do K